.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


.categoryFilter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  background-color: #f9f9f9;
}
  
.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 10px 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 1.2em;
}

.categoryItem {
  display: inline-block;
  align-items: center;
  margin: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 20px;
  font-size: 0.9em;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

  
  .categoryItem input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .searchInput {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-right: 30px; 
  }
  
  .toggleButton {
    display: block;
    margin: 10px 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .categoryList {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
  }

  .categoryList.visible {
    display: flex;
    flex-direction: column;
  }
  
  .categoryList li {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .categoryList li:hover {
    background-color: #f0f0f0;
  }
  
  .searchIcon {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    /* other styles */
    cursor: pointer;
  }

  .resetButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .resetButton {
    display: block;
    margin: 10px 0 10px 20px;
    padding: 10px 20px; 
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: left;
    width: auto; 
  }
  
  .resetButton:hover {
    background-color: #e0e0e0;
  }


  
  